#properties.modal
  .group
    label Map name
    input.filename
  .group
    label Width
    input.width
  .group
    label Height
    input.height
  .group
    button.save Save
    button.cancel Cancel
