html, body {
  margin: 0;
  padding: 0;
}

body, input, select, button, textarea {
  font-family: "Lucida Grande", Tahoma, sans-serif;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  background: #222830;
}

#editor {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2A303B;
}

#toolbar {
  display: none;
  background: #1B1E26;
}

#toolbar button {
  padding: 6px 18px;
  margin: 8px;
  background: transparent;
  border: 0;
  color: #94B5B4;
  font-size: 12px;
  font-weight: bold;
}

#toolbar button:hover {
  background: #222830;
}

#canvas {
  display: none;
  position: relative;
  margin: 20px;
}

#canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #1B1E26;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
}

.modal {
  display: none;
  position: absolute;
  top: 200px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  background: #2A303B;
}

.modal .group {
  width: 100%;
}

.modal .group label, .modal .group input {
  display: inline-block;
  width: 50%;
}
