html, body {
  margin: 0;
  padding: 0;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  background: #222830;
}

#editor {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2A303B;
}

#toolbar {
  background: #1B1E26;
}

#toolbar button {
  padding: 6px 18px;
  margin: 8px;
  background: transparent;
  border: 0;
  color: #94B5B4;
  font-size: 12px;
  font-weight: bold;
}

#toolbar button:hover {
  background: #222830;
}

#canvas {
  position: relative;
  margin: 20px;
}

#canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #222830;
}
